<div class="row">
  <div class="col s12 m12 l12">
    <div class="row">
      <h3 class="center-align">Lista de Maestros</h3>
    </div>
    <div class="row">
      <div class="row padding-largo">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Usuario</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @teachers.each do |teacher| %>
              <tr>
                <td><%= teacher.name %></td>
                <td><%= teacher.lastname %></td>
                <td><%= teacher.user %></td>
                <td>
                  <%= link_to 'Ver', teacher , class: 'btn'%>
                  <%= link_to 'Editar', edit_teacher_path(teacher) , class: 'btn'%>
                  <%= link_to 'Eliminar', teacher, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn'%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </table>
      </div>

      <div class="row padding-largo">
        <%= link_to 'Agregar Maestro', new_teacher_path, class: 'btn blue' %>        
      </div>

    </div>
  </div>
</div>

